@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Vast+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {    
    --fonte-menu: 'Paytone One', sans-serif;
    --fonte-conteudo: 'Contrail One', cursive;
    --fonte-1: 'Vast Shadow', cursive;
    
    --cor1: #3c0a2f;
    --cor2: #690E6B;
}
header {
    background-color: var(--cor1);    
    width: 100%;    
}
nav#menu a{
    font-family: var(--fonte-menu);
    text-decoration: none;
    font-size: 2em;
    padding: 15px;
    color: white;
    font-weight: bold;    
}
nav#menu {
    margin: auto;
}
#logo {
    margin: auto;    
}
#logo img {
    width: 100px;    
}
.pipe-menu {
    font-size: 2em;
    font-weight: bolder;
    font-family: var(--fonte-conteudo);
}
main {
    max-width: 900px;
    min-width: 320px;
    margin: 10px auto 0 auto;
}
.carrossel {
    box-shadow: 10px 5px 20px var(--cor1);
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 992px;    
    min-width: 320px;
    padding: 10px 15px;
    align-items: center;
    margin: 0px 10px;
    
}
.imagem img{
    width: 30vh;
    border-radius: 10px;
}